{% extends 'base.html '%}
{% load staticfiles %}

{% block content %}
<h1>Welcome to Space Lovers! &#x2764</h1>
<br>
<div class="cosmos">
    <div class="galaxy">
      {% with ''|center:10 as range %}
      {% for _ in range %}
        <div class="box">
          <div class="planet">
            <div class="cube">
              <div class="face"></div>
              <div class="face"></div>
            </div>
          </div>
          <div class="orbit"></div>
        </div>
      {% endfor %}
      {% endwith %}
    </div>
</div>
{% endblock %}
